[submodule ".nano"]
	path = .nano
	url = https://github.com/scopatz/nanorc
[submodule "nano-tiprogram"]
	path = nano-tiprogram
	url = https://github.com/Yash-Singh1/nano-tiprogram
[submodule "nano-mermaid"]
	path = nano-mermaid
	url = https://github.com/Yash-Singh1/nano-mermaid
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "better-git-diff"]
	path = better-git-diff
	url = https://github.com/yash-Singh1/better-git-diff
[submodule ".vscode/extensions/alan.stylus-0.0.4"]
	path = .vscode/extensions/alan.stylus-0.0.4
	url = https://github.com/AlanCezarAraujo/vs-code-stylus.git
[submodule ".vscode/extensions/ms-toolsai.jupyter-keymap-1.0.0"]
	path = .vscode/extensions/ms-toolsai.jupyter-keymap-1.0.0
	url = https://github.com/Microsoft/vscode-jupyter-keymap
[submodule ".vscode/extensions/silvenon.mdx-0.1.0"]
	path = .vscode/extensions/silvenon.mdx-0.1.0
	url = https://github.com/silvenon/vscode-mdx.git
[submodule ".vscode/extensions/csstools.postcss-1.0.9"]
	path = .vscode/extensions/csstools.postcss-1.0.9
	url = https://github.com/csstools/postcss-language.git
[submodule ".vscode/extensions/ban.troff-1.0.22"]
	path = .vscode/extensions/ban.troff-1.0.22
	url = https://github.com/bartosz-antosik/vscode-troff.git
[submodule ".vscode/extensions/davidanson.vscode-markdownlint-0.45.0"]
	path = .vscode/extensions/davidanson.vscode-markdownlint-0.45.0
	url = https://github.com/DavidAnson/vscode-markdownlint.git
[submodule ".vscode/extensions/vaibhavvishal.web-extension-0.1.0"]
	path = .vscode/extensions/vaibhavvishal.web-extension-0.1.0
	url = https://github.com/vaibhavhrt/web-extension
[submodule ".vscode/extensions/eg2.vscode-npm-script-0.3.23"]
	path = .vscode/extensions/eg2.vscode-npm-script-0.3.23
	url = https://github.com/Microsoft/vscode-npm-scripts.git
[submodule ".vscode/extensions/tht13.html-preview-vscode-0.2.5"]
	path = .vscode/extensions/tht13.html-preview-vscode-0.2.5
	url = https://github.com/tht13/html-preview-vscode
[submodule ".vscode/extensions/ecmel.vscode-html-css-1.10.2"]
	path = .vscode/extensions/ecmel.vscode-html-css-1.10.2
	url = https://github.com/ecmel/vscode-html-css.git
[submodule ".vscode/extensions/formulahendry.auto-rename-tag-0.1.9"]
	path = .vscode/extensions/formulahendry.auto-rename-tag-0.1.9
	url = https://github.com/formulahendry/vscode-auto-rename-tag.git
[submodule ".vscode/extensions/redhat.vscode-commons-0.0.6"]
	path = .vscode/extensions/redhat.vscode-commons-0.0.6
	url = https://github.com/redhat-developer/vscode-commons/
[submodule ".vscode/extensions/freecodecamp.freecodecamp-dark-vscode-theme-0.1.0"]
	path = .vscode/extensions/freecodecamp.freecodecamp-dark-vscode-theme-0.1.0
	url = https://github.com/freeCodeCamp/freecodecamp-dark-vscode-theme
[submodule ".vscode/extensions/webben.browserslist-1.1.0"]
	path = .vscode/extensions/webben.browserslist-1.1.0
	url = https://github.com/wspwebben/browserslist-highlight.git
[submodule ".vscode/extensions/stylelint.vscode-stylelint-1.2.1"]
	path = .vscode/extensions/stylelint.vscode-stylelint-1.2.1
	url = https://github.com/stylelint/vscode-stylelint.git
[submodule ".vscode/extensions/esbenp.prettier-vscode-9.0.0"]
	path = .vscode/extensions/esbenp.prettier-vscode-9.0.0
	url = https://github.com/prettier/prettier-vscode.git
[submodule ".vscode/extensions/foxundermoon.shell-format-7.2.2"]
	path = .vscode/extensions/foxundermoon.shell-format-7.2.2
	url = https://github.com/foxundermoon/vs-shell-format.git
[submodule ".vscode/extensions/dbaeumer.vscode-eslint-2.2.2"]
	path = .vscode/extensions/dbaeumer.vscode-eslint-2.2.2
	url = https://github.com/Microsoft/vscode-eslint.git
[submodule ".vscode/extensions/mhutchie.git-graph-1.30.0"]
	path = .vscode/extensions/mhutchie.git-graph-1.30.0
	url = https://github.com/mhutchie/vscode-git-graph.git
[submodule ".vscode/extensions/octref.vetur-0.35.0"]
	path = .vscode/extensions/octref.vetur-0.35.0
	url = https://github.com/vuejs/vetur.git
[submodule ".vscode/extensions/orta.vscode-jest-4.2.1"]
	path = .vscode/extensions/orta.vscode-jest-4.2.1
	url = https://github.com/jest-community/vscode-jest
[submodule ".vscode/extensions/eamodio.gitlens-11.7.0"]
	path = .vscode/extensions/eamodio.gitlens-11.7.0
	url = https://github.com/eamodio/vscode-gitlens.git
[submodule ".vscode/extensions/zignd.html-css-class-completion-1.20.0"]
	path = .vscode/extensions/zignd.html-css-class-completion-1.20.0
	url = https://github.com/Zignd/HTML-CSS-Class-Completion
[submodule ".vscode/extensions/geekofer.storybook-react-snippets-0.0.2"]
	path = .vscode/extensions/geekofer.storybook-react-snippets-0.0.2
	url = https://github.com/geekofer/storybook-react-snippets
[submodule ".vscode/extensions/ms-toolsai.jupyter-renderers-1.0.4"]
	path = .vscode/extensions/ms-toolsai.jupyter-renderers-1.0.4
	url = https://github.com/Microsoft/vscode-notebook-renderers
[submodule ".vscode/extensions/bradlc.vscode-tailwindcss-0.7.4"]
	path = .vscode/extensions/bradlc.vscode-tailwindcss-0.7.4
	url = https://github.com/tailwindlabs/tailwindcss-intellisense.git
[submodule ".vscode/extensions/redhat.vscode-yaml-1.2.2"]
	path = .vscode/extensions/redhat.vscode-yaml-1.2.2
	url = https://github.com/redhat-developer/vscode-yaml
[submodule ".vscode/extensions/pkief.material-icon-theme-4.11.0"]
	path = .vscode/extensions/pkief.material-icon-theme-4.11.0
	url = https://github.com/PKief/vscode-material-icon-theme.git
[submodule ".vscode/extensions/ms-toolsai.jupyter-2021.11.1001550889"]
	path = .vscode/extensions/ms-toolsai.jupyter-2021.11.1001550889
	url = https://github.com/Microsoft/vscode-jupyter
[submodule ".vscode/extensions/ms-python.python-2021.12.1559732655"]
	path = .vscode/extensions/ms-python.python-2021.12.1559732655
	url = https://github.com/Microsoft/vscode-python
[submodule ".vscode/extensions/github.remotehub-0.20.0"]
	path = .vscode/extensions/github.remotehub-0.20.0
	url = https://github.com/microsoft/vscode-remote-repositories-github.git
[submodule ".vscode/extensions/svelte.svelte-vscode-105.8.0"]
	path = .vscode/extensions/svelte.svelte-vscode-105.8.0
	url = https://github.com/sveltejs/language-tools.git
[submodule ".vscode/extensions/ms-python.vscode-pylance-2021.12.2"]
	path = .vscode/extensions/ms-python.vscode-pylance-2021.12.2
	url = https://github.com/microsoft/pylance-release
[submodule ".vscode/extensions/redhat.vscode-xml-0.18.2"]
	path = .vscode/extensions/redhat.vscode-xml-0.18.2
	url = https://github.com/redhat-developer/vscode-xml
[submodule ".vscode/extensions/ms-vscode.cpptools-1.7.1"]
	path = .vscode/extensions/ms-vscode.cpptools-1.7.1
	url = https://github.com/Microsoft/vscode-cpptools.git
[submodule ".vscode/extensions/ms-vsliveshare.vsliveshare-1.0.5200"]
	path = .vscode/extensions/ms-vsliveshare.vsliveshare-1.0.5200
	url = https://github.com/MicrosoftDocs/live-share
[submodule ".vscode/extensions/antfu.auto-npx-0.0.2"]
	path = .vscode/extensions/antfu.auto-npx-0.0.2
	url = https://github.com/antfu/vscode-auto-npx
[submodule ".vscode/extensions/aaron-bond.better-comments-2.1.0"]
	path = .vscode/extensions/aaron-bond.better-comments-2.1.0
	url = https://github.com/aaron-bond/better-comments
[submodule ".vscode/extensions/mikestead.dotenv-1.0.1"]
	path = .vscode/extensions/mikestead.dotenv-1.0.1
	url = https://github.com/mikestead/vscode-dotenv.git
[submodule ".vscode/extensions/christian-kohler.npm-intellisense-1.4.0"]
	path = .vscode/extensions/christian-kohler.npm-intellisense-1.4.0
	url = https://github.com/ChristianKohler/NpmIntellisense.git
[submodule ".vscode/extensions/bierner.emojisense-0.9.0"]
	path = .vscode/extensions/bierner.emojisense-0.9.0
	url = https://github.com/mattbierner/vscode-emojisense.git
[submodule ".vscode/extensions/cschlosser.doxdocgen-1.3.2"]
	path = .vscode/extensions/cschlosser.doxdocgen-1.3.2
	url = https://github.com/cschlosser/doxdocgen.git
[submodule ".vscode/extensions/twxs.cmake-0.0.17"]
	path = .vscode/extensions/twxs.cmake-0.0.17
	url = https://github.com/twxs/vs.language.cmake.git
[submodule ".vscode/extensions/jeff-hykin.better-cpp-syntax-1.15.10"]
	path = .vscode/extensions/jeff-hykin.better-cpp-syntax-1.15.10
	url = https://github.com/jeff-hykin/better-cpp-syntax
[submodule ".vscode/extensions/ms-vscode.cmake-tools-1.9.2"]
	path = .vscode/extensions/ms-vscode.cmake-tools-1.9.2
	url = https://github.com/microsoft/vscode-cmake-tools
[submodule ".vscode/extensions/oderwat.indent-rainbow-8.2.2"]
	path = .vscode/extensions/oderwat.indent-rainbow-8.2.2
	url = https://github.com/oderwat/vscode-indent-rainbow.git
[submodule ".vscode/extensions/ms-vscode.cpptools-themes-1.0.0"]
	path = .vscode/extensions/ms-vscode.cpptools-themes-1.0.0
	url = https://github.com/Microsoft/vscode-cpptools.git
[submodule ".vscode/extensions/ms-vscode-remote.remote-ssh-0.70.0"]
	path = .vscode/extensions/ms-vscode-remote.remote-ssh-0.70.0
	url = https://github.com/Microsoft/vscode-remote-release.git
[submodule ".vscode/extensions/ms-vscode-remote.remote-wsl-0.63.13"]
	path = .vscode/extensions/ms-vscode-remote.remote-wsl-0.63.13
	url = https://github.com/Microsoft/vscode-remote-release.git
[submodule ".vscode/extensions/ms-vscode-remote.remote-containers-0.209.6"]
	path = .vscode/extensions/ms-vscode-remote.remote-containers-0.209.6
	url = https://github.com/Microsoft/vscode-remote-release.git
[submodule ".vscode/extensions/donjayamanne.githistory-0.6.19"]
	path = .vscode/extensions/donjayamanne.githistory-0.6.19
	url = https://github.com/DonJayamanne/gitHistoryVSCode
[submodule ".vscode/extensions/streetsidesoftware.code-spell-checker-2.0.14"]
	path = .vscode/extensions/streetsidesoftware.code-spell-checker-2.0.14
	url = https://github.com/streetsidesoftware/vscode-spell-checker
[submodule ".vscode/extensions/undefined.cshell-vscode-0.0.1"]
	path = .vscode/extensions/undefined.cshell-vscode-0.0.1
	url = https://github.com/Yash-Singh1/cshell-vscode.git
[submodule ".vscode/extensions/yash-singh.cshell-vscode-0.0.1"]
	path = .vscode/extensions/yash-singh.cshell-vscode-0.0.1
	url = https://github.com/Yash-Singh1/cshell-vscode.git
[submodule ".vscode/extensions/ms-vscode.brackets-pack-0.1.1"]
	path = .vscode/extensions/ms-vscode.brackets-pack-0.1.1
	url = https://github.com/Microsoft/vscode-brackets-pack.git
[submodule ".vscode/extensions/cruzelante098.jison-syntax-highlight-0.1.1"]
	path = .vscode/extensions/cruzelante098.jison-syntax-highlight-0.1.1
	url = https://github.com/cruzelante098/language-jison.git
[submodule ".vscode/extensions/antfu.where-am-i-0.1.4"]
	path = .vscode/extensions/antfu.where-am-i-0.1.4
	url = https://github.com/antfu/vscode-where-am-i
[submodule ".vscode/extensions/robole.markdown-snippets-0.7.4"]
	path = .vscode/extensions/robole.markdown-snippets-0.7.4
	url = https://github.com/robole/vscode-markdown-snippets
[submodule ".vscode/extensions/benspaulding.procfile-1.1.7"]
	path = .vscode/extensions/benspaulding.procfile-1.1.7
	url = https://github.com/benspaulding/vscode-procfile.git
[submodule ".vscode/extensions/pranaygp.vscode-css-peek-4.2.0"]
	path = .vscode/extensions/pranaygp.vscode-css-peek-4.2.0
	url = https://github.com/pranaygp/vscode-css-peek
[submodule ".vscode/extensions/xyc.vscode-mdx-preview-0.3.3"]
	path = .vscode/extensions/xyc.vscode-mdx-preview-0.3.3
	url = https://github.com/xyc/vscode-mdx-preview
[submodule ".vscode/extensions/ms-azuretools.vscode-docker-1.18.0"]
	path = .vscode/extensions/ms-azuretools.vscode-docker-1.18.0
	url = https://github.com/microsoft/vscode-docker
